pipelines/pl_CopyMultipleFiles.json
{
    "name": "pl_CopyMultipleFiles",
    "properties": {
        "activities": [
            {
                "name": "Set file name array",
                "type": "SetVariable",
                "dependsOn": [],
                "policy": {
                    "secureOutput": false,
                    "secureInput": false
                },
                "userProperties": [],
                "typeProperties": {
                    "variableName": "FileNames",
                    "value": {
                        "value": "@split(pipeline().parameters.FileNames, ',')",
                        "type": "Expression"
                    }
                }
            },
            {
                "name": "ForEach1",
                "type": "ForEach",
                "dependsOn": [
                    {
                        "activity": "Set file name array",
                        "dependencyConditions": [
                            "Succeeded"
                        ]
                    }
                ],
                "userProperties": [],
                "typeProperties": {
                    "items": {
                        "value": "@variables('FileNames')",
                        "type": "Expression"
                    },
                    "batchCount": 5,
                    "activities": [
                        {
                            "name": "Execute Pipeline",
                            "type": "ExecutePipeline",
                            "dependsOn": [],
                            "policy": {
                                "secureInput": false
                            },
                            "userProperties": [],
                            "typeProperties": {
                                "pipeline": {
                                    "referenceName": "pl_git_to_adls",
                                    "type": "PipelineReference"
                                },
                                "waitOnCompletion": true,
                                "parameters": {
                                    "FileName": {
                                        "value": "@item()",
                                        "type": "Expression"
                                    }
                                }
                            }
                        }
                    ]
                }
            }
        ],
        "parameters": {
            "FileNames": {
                "type": "string"
            }
        },
        "variables": {
            "FileNames": {
                "type": "Array"
            },
            "temp": {
                "type": "String"
            }
        },
        "annotations": [],
        "lastPublishTime": "2025-08-01T12:21:08Z"
    },
    "type": "Microsoft.DataFactory/factories/pipelines"
}
